<div class="inner">

  Riven Cycle Simulator
  <br>
  <br>
  <br>

  <input id="cycle" type="button" value="Cycle for 0 kuva">
  <br>
  <br>

  <table id="riven_table" border="1">
    <thead>
      <th>Stat</th>
      <th>Value</th>
    </thead>
    <tbody>
      <tbody>
  </table>

  <br> Riven Name :
  <div class="conteneur_grand_mod">
    <div class="conteneur_niveaux">
      <div></div>
    </div>

    <canvas id="tutorial" width="546" height="694" style="border:1px solid black"></canvas>
    
    <img id="reroll" src="http://image.ibb.co/drmqvv/image.png" style="display: none">

  </div>